* {
  font-family: fantasy, sans-serif;
}
.homeh1 {
  color: rgba(85, 255, 0);
  font-size: 45px;
  margin-top: 15px;
}
.box {
  /* grid-template-columns: repeat(5, 250px);
  grid-template-rows: auto; 
  display: grid;
  */
  justify-content: space-evenly;
  padding: 1rem;
  border: none;
  border-radius: 1%;
  box-shadow: 0 0 16px 0 rgba(0, 179, 255, 0.3);
  gap: 15px;
  scroll-behavior: smooth;
  margin: 1%;
  background: rgba(251, 143, 215, 0.25);

  display: flex;
  flex-wrap: wrap;
}


.pageImage {
  width: 250px;
  height: 250px;
  border: none;
  border-radius: 0.75%;
  box-shadow: 0 0 16px 0 rgba(255, 106, 198, 0.45);
}

.content {
  display: flex;
  justify-content: center;
  overflow: hidden;
  scroll-behavior: smooth;
  color: rgb(85, 255, 0);
  font-size: 18px;
}
