.lh {
  margin-left: 35%;
  padding: 2rem;
  font-size: 50px;
  color: rgba(0, 255, 60);
  text-shadow: 1px 12px 6px rgba(0, 128, 0, 0.3);
}
.locImageBox {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 50%;
  box-shadow: 15px 0 5px 10px rgba(255, 192, 203, 0.3);
  padding: 10px;
}
.locImage {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 500px;
}

.textBox {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 99%;
  height: auto;
  margin-top: 50px;
  box-shadow: 15px 0 5px 10px rgba(255, 192, 203, 0.3);
  background-color: rgba(229, 238, 255, 0.2);
  padding: 35px;
  overflow: hidden;
  scroll-behavior: smooth;
}
.postText {
  font-size: 30px;
  font-family: fantasy, sans-serif;
  color: rgba(60, 255, 0);
}

@media screen and (max-width: 768px) {
  .locImage {
    flex-direction: column;
  }
  .lh {
    font-size: 40px;
  }
}
