.aboutContent {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-radius: 1%;
  box-shadow: 0 0 16px 0 rgba(255, 192, 203, 0.8);
  margin: 20px;

  border-radius: 2%;
  overflow: hidden;
  scroll-behavior: smooth;
}

.aboutHeader {
  margin-top: 15px;
  font-size: 50px;
  margin-left: 40%;
  color: rgba(60, 255, 0);
  text-shadow: 1px 12px 6px rgba(0, 128, 0, 0.3);
}
.aboutImage {
  display: flex;
  flex-wrap: wrap;
  margin-top: -56%;
  opacity: 0.2;
  border-radius: 2%;
}

.aboutItem {
  color: rgba(60, 255, 0);
  font-size: 40px;
  padding: 20px 20px;
}

@media screen and (max-width: 768px) {
  .aboutContent {
    flex-direction: column;
  }
}
