* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

.padding-h-10 {
  padding-left: 10%;
  padding-right: 10%;
}
.padding-h-20 {
  padding-left: 25%;
}
.navbar {
  display: flex;
  width: 100%;
  background: #f68b9d;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  padding: 1rem;
}

.logo2 {
  display: flex;
  right: 100px;
  padding: 1rem;
}

.linkLogo {
  font-family: fantasy, sans-serif;
  text-shadow: -12px 5px 3px rgba(59, 173, 59, 0.504);
  color: rgb(85, 255, 0);
  font-size: 30px;
}

.linkLogo:hover {
  animation: spinEffect3D 2s linear infinite;
  /* font-size: 40px; */
}

.linkLogo2 {
  font-family: fantasy, sans-serif;
  text-shadow: -12px 5px 3px rgba(59, 173, 59, 0.504);
  color: rgb(85, 255, 0);
  font-size: 20px;
}

.listGroup {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* height: 40px; */
  /* width: 600px; */
}

.listItem {
  display: flex;
  height: auto;
  width: auto;
  padding: 2rem;
}

.linkItem {
  display: flex;
  color: rgb(85, 255, 0);
  font-size: 24px;
  font-family: fantasy, sans-serif;
  text-shadow: -12px 5px 3px rgba(59, 173, 59, 0.504);
  padding-bottom: 0.25rem;
}

/* Creates a spinning effect on linkItem */
@keyframes spinEffect3D {
  from {
    transform: perspective(500px) rotateY(0deg);
  }

  to {
    transform: perspective(500px) rotateY(360deg);
  }
}

.linkItem {
  /* Necessary to preserve the 3D position during the animation */
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.linkItem:hover {
  animation: spinEffect3D 3s linear infinite;
  /* font-size: 35px; */
}

/* @keyframes spinEffect {
    0% {
        transform: scale(1) rotate(180);
    }

    50% {
        transform: scale(1.1) rotate(0deg);
    }

    100% {
        transform: scale(1) rotate(360deg);
    }
}

.linkItem:hover {
    animation: spinEffect 2s linear infinite;
} */
/* 
@keyframes spin {
    from {
        transform: rotate(360deg);
    }

    to {
        transform: rotate(0deg);
    }
}

.linkItem:hover {
    animation: spin 2s linear infinite;
    font-size: 30px;
} */

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
  }
}
