.serviceh1 {
  font-size: 50px;
  color: rgba(60, 255, 0);
  text-shadow: 0 0 10px lightpink;
}

.itemBox {
  box-shadow: 5px 5px 10px rgba(255, 192, 203, 0.5);
  background: rgba(173, 216, 230, 0.1);
}

.serviceGroup {
  align-items: center;
  border: none;
}

.serviceItem {
  font-size: 24px;
  color: rgba(60, 255, 0);
}

.padding-h-30 {
  padding-left: 50%;
}
