{% extends "_base.html" %} {% block content %}
<h1 class="serviceh1 padding-h-30">Service & Prices</h1>
<div class="itemBox">
  {% for service in service %}
  <ul class="serviceGroup">
    <div class="serviceItem">{{ service.service }}</div>
    <div class="serviceItem">{{ service.name }}</div>
    <div class="serviceItem">{{ service.price }} UGX</div>
  </ul>
  {% endfor %}
</div>
{% endblock content %} {% comment %} Use this syntax in dev server {% for
service in service_list %} {% endcomment %}
